In [1]:
#Creating the dataframe
import pandas as pd
data = pd.read_csv('fifa21_train.csv')
data.shape

(11701, 101)

In [2]:
#dropping columns that we won't use for the model

data = data.drop(['Team & Contract', 'Growth','Joined','Loan Date End','Contract','A/W','D/W','LS','ST','RS','LW','LF','CF','RF','RW','LAM','CAM','RAM','LM','LCM','CM','RCM','RM','LWB','LDM','CDM','RDM','RWB','LB','LCB','CB','RCB','RB','GK','Nationality', 'Club', 'Position', 'Height',
       'foot', 'Hits', 'Weight',], axis=1)
data.shape

(11701, 60)

In [3]:
# checking NaN Values

pd.set_option('display.max_rows',62)
display(data.isna().sum())

ID                    0
Name                  0
Age                   0
BP                    0
Value                 0
Wage                  0
Release Clause        0
Attacking             0
Crossing              0
Finishing             0
Heading Accuracy      0
Short Passing         0
Volleys              41
Skill                 0
Dribbling             0
Curve                41
FK Accuracy           0
Long Passing          0
Ball Control          0
Movement              0
Acceleration          0
Sprint Speed          0
Agility              41
Reactions             0
Balance              41
Power                 0
Shot Power            0
Jumping              41
Stamina               0
Strength              0
Long Shots            0
Mentality             0
Aggression            0
Interceptions         7
Positioning           7
Vision               41
Penalties             0
Composure           279
Defending             0
Marking               0
Standing Tackle       0
Sliding Tackle       41
Goalkeeping           0
GK Diving             0
GK Handling           0
GK Kicking            0
GK Positioning        0
GK Reflexes           0
Total Stats           0
Base Stats            0
W/F                   0
SM                    0
IR                    0
PAC                   0
SHO                   0
PAS                   0
DRI                   0
DEF                   0
PHY                   0
OVA                   0
dtype: int64

In [4]:
# After see that the NaN are few compare with the dataframe, we have decide to drop all rows with NAN values

data2=data.dropna(axis=0)

In [5]:
#Dealing with headers

cols = []
for column in data2.columns:
    cols.append(column.lower())
data2.columns = cols

cols = []
for column in data2.columns:
    cols.append(column.replace(' ','_'))
data2.columns = cols

In [6]:
# we converted some data into number to have more insights

data2['ir']= data2['ir'].str.replace('★','')
data2['sm']= data2['sm'].str.replace('★','')
data2['w/f']= data2['w/f'].str.replace('★','')


data2[["ir", "sm", 'w/f']] = data2[["ir", "sm", 'w/f']].apply(pd.to_numeric)

/var/folders/0r/l856hq9x61zf5p8g8vxjs_dh0000gn/T/ipykernel_5480/1339054239.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2['ir']= data2['ir'].str.replace('★','')
/var/folders/0r/l856hq9x61zf5p8g8vxjs_dh0000gn/T/ipykernel_5480/1339054239.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2['sm']= data2['sm'].str.replace('★','')
/var/folders/0r/l856hq9x61zf5p8g8vxjs_dh0000gn/T/ipykernel_5480/1339054239.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2['w/f']= data2['w/f'].str.replace('★','')
/var/folders/0r/l856hq9x61zf5p8g8vxjs_dh0000gn/T/ipykernel_5480/1339054239.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2[["ir", "sm", 'w/f']] = data2[["ir", "sm", 'w/f']].apply(pd.to_numeric)

In [18]:
#Create the numerical variable

numerical = data2.select_dtypes(include=['int', 'float'])

numerical.columns

Index(['id', 'age', 'value', 'wage', 'release_clause', 'attacking', 'crossing',
       'finishing', 'heading_accuracy', 'short_passing', 'volleys', 'skill',
       'dribbling', 'curve', 'fk_accuracy', 'long_passing', 'ball_control',
       'movement', 'acceleration', 'sprint_speed', 'agility', 'reactions',
       'balance', 'power', 'shot_power', 'jumping', 'stamina', 'strength',
       'long_shots', 'mentality', 'aggression', 'interceptions', 'positioning',
       'vision', 'penalties', 'composure', 'defending', 'marking',
       'standing_tackle', 'sliding_tackle', 'goalkeeping', 'gk_diving',
       'gk_handling', 'gk_kicking', 'gk_positioning', 'gk_reflexes',
       'total_stats', 'base_stats', 'w/f', 'sm', 'ir', 'pac', 'sho', 'pas',
       'dri', 'def', 'phy', 'ova'],
      dtype='object')

In [8]:
# Convert vale, wage and release clause into numbers. 

data2['value'] = data2['value'].replace({'€': '', ' ': '', 'M': 'e+06', 'K': 'e+03'}, regex=True).astype(float).astype(int)
data2['wage'] = data2['wage'].replace({'€': '', ' ': '', 'M': 'e+06', 'K': 'e+03'}, regex=True).astype(float).astype(int)
data2['release_clause'] = data2['release_clause'].replace({'€': '', ' ': '', 'M': 'e+06', 'K': 'e+03'}, regex=True).astype(float).astype(int)

/var/folders/0r/l856hq9x61zf5p8g8vxjs_dh0000gn/T/ipykernel_5480/3461610957.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2['value'] = data2['value'].replace({'€': '', ' ': '', 'M': 'e+06', 'K': 'e+03'}, regex=True).astype(float).astype(int)
/var/folders/0r/l856hq9x61zf5p8g8vxjs_dh0000gn/T/ipykernel_5480/3461610957.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2['wage'] = data2['wage'].replace({'€': '', ' ': '', 'M': 'e+06', 'K': 'e+03'}, regex=True).astype(float).astype(int)
/var/folders/0r/l856hq9x61zf5p8g8vxjs_dh0000gn/T/ipykernel_5480/3461610957.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2['release_clause'] = data2['release_clause'].replace({'€': '', ' ': '', 'M': 'e+06', 'K': 'e+03'}, regex=True).astype(float).astype(int)

In [9]:
#Checking

data2.dtypes

id                    int64
name                 object
age                   int64
bp                   object
value                 int64
wage                  int64
release_clause        int64
attacking             int64
crossing              int64
finishing             int64
heading_accuracy      int64
short_passing         int64
volleys             float64
skill                 int64
dribbling             int64
curve               float64
fk_accuracy           int64
long_passing          int64
ball_control          int64
movement              int64
acceleration          int64
sprint_speed          int64
agility             float64
reactions             int64
balance             float64
power                 int64
shot_power            int64
jumping             float64
stamina               int64
strength              int64
long_shots            int64
mentality             int64
aggression            int64
interceptions       float64
positioning         float64
vision              float64
penalties             int64
composure           float64
defending             int64
marking               int64
standing_tackle       int64
sliding_tackle      float64
goalkeeping           int64
gk_diving             int64
gk_handling           int64
gk_kicking            int64
gk_positioning        int64
gk_reflexes           int64
total_stats           int64
base_stats            int64
w/f                   int64
sm                    int64
ir                    int64
pac                   int64
sho                   int64
pas                   int64
dri                   int64
def                   int64
phy                   int64
ova                   int64
dtype: object

In [19]:
# Saving categorical data for filtering purposes if it's need it

categorical = data2.select_dtypes(include=['object'])

categorical.columns = cols

In [20]:
categorical.columns

Index(['name', 'bp'], dtype='object')

In [13]:
# Setting up X and Y

import numpy as np
from sklearn import linear_model
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_absolute_error, r2_score
from sklearn.metrics import r2_score

y = numerical['ova']
X = numerical.drop(['ova'], axis=1)
X_num = X.select_dtypes(include = np.number)
X_cat = categorical

In [14]:
# Normalization.

transformer = MinMaxScaler().fit(X_num)
x_normalized = transformer.transform(X_num)
x_normalized = pd.DataFrame(x_normalized, columns=X_num.columns)

In [15]:
# Splitting into train set and test set.

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [16]:
# Apply model.

lm = linear_model.LinearRegression()
lm.fit(X_train,y_train)

LinearRegression()

In [17]:
## Model Validation

predictions_test = lm.predict(X_test)


#R2
r2 = r2_score(y_test, predictions_test)

print('R2 is',r2)

#MSE
mse=mean_squared_error(y_test,predictions_test)
print('MSE is',mse)

#RMSE
rmse = np.sqrt(mean_squared_error(y_test,predictions_test))
print('RMSE is',rmse)

#MAE
mae = mean_absolute_error(y_test, predictions_test)
print('MAE is',mae)

R2 is 0.9054754188586875
MSE is 4.561106672372795
RMSE is 2.1356747580970272
MAE is 1.6698625806500937

In [ ]:
#round 2

In [8]:
#Creating the dataframe
import pandas as pd
data3 = pd.read_csv('fifa21_validate.csv')
data3.shape

(1999, 101)

In [11]:
data3.head()

,ID,Name,Age,Nationality,Club,BP,Position,Team & Contract,Height,Weight,...,CDM,RDM,RWB,LB,LCB,CB,RCB,RB,GK,OVA
0,219461,E. Palmer-Brown,23,United States,FK Austria Wien,CB,CB,"FK Austria Wien Jun 30, 2021 On Loan","6'2""",194lbs,...,61+2,61+2,59+2,61+2,67+2,67+2,67+2,61+2,16+2,67
1,221896,D. Avdijaj,22,Kosovo,Heart of Midlothian,CAM,LM CAM,Heart of Midlothian 2020 ~ 2020,"5'8""",154lbs,...,47+2,47+2,49+2,45+2,38+2,38+2,38+2,45+2,17+2,68
2,247428,D. Ochoa,19,United States,Real Salt Lake,GK,GK,Real Salt Lake 2018 ~ 2020,"6'2""",176lbs,...,18+2,18+2,16+2,16+2,18+2,18+2,18+2,16+2,53+2,54
3,255120,N. Kenneh,16,England,Leeds United,CDM,CB CDM RB,Leeds United 2020 ~ 2022,"6'3""",170lbs,...,54+2,54+2,53+2,53+2,54+2,54+2,54+2,53+2,11+2,55
4,215556,E. Fernandes,24,Switzerland,1. FSV Mainz 05,CDM,CM CDM,1. FSV Mainz 05 2019 ~ 2023,"6'2""",170lbs,...,72+2,72+2,70+2,69+2,68+2,68+2,68+2,69+2,18+2,70

In [13]:
#dropping columns that we won't use for the model

data3 = data3.drop(['Team & Contract', 'Growth','Joined','Loan Date End','Contract','A/W','D/W','LS','ST','RS','LW','LF','CF','RF','RW','LAM','CAM','RAM','LM','LCM','CM','RCM','RM','LWB','LDM','CDM','RDM','RWB','LB','LCB','CB','RCB','RB','GK','Nationality', 'Club', 'Position', 'Height',
       'foot', 'Hits', 'Weight',], axis=1)
data3.shape

(1999, 60)

In [14]:
data3.columns

Index(['ID', 'Name', 'Age', 'BP', 'Value', 'Wage', 'Release Clause',
       'Attacking', 'Crossing', 'Finishing', 'Heading Accuracy',
       'Short Passing', 'Volleys', 'Skill', 'Dribbling', 'Curve',
       'FK Accuracy', 'Long Passing', 'Ball Control', 'Movement',
       'Acceleration', 'Sprint Speed', 'Agility', 'Reactions', 'Balance',
       'Power', 'Shot Power', 'Jumping', 'Stamina', 'Strength', 'Long Shots',
       'Mentality', 'Aggression', 'Interceptions', 'Positioning', 'Vision',
       'Penalties', 'Composure', 'Defending', 'Marking', 'Standing Tackle',
       'Sliding Tackle', 'Goalkeeping', 'GK Diving', 'GK Handling',
       'GK Kicking', 'GK Positioning', 'GK Reflexes', 'Total Stats',
       'Base Stats', 'W/F', 'SM', 'IR', 'PAC', 'SHO', 'PAS', 'DRI', 'DEF',
       'PHY', 'OVA'],
      dtype='object')

In [15]:
# checking NaN Values

pd.set_option('display.max_rows',62)
display(data3.isna().sum())

ID                   0
Name                 0
Age                  0
BP                   0
Value                0
Wage                 0
Release Clause       0
Attacking            0
Crossing             0
Finishing            0
Heading Accuracy     0
Short Passing        0
Volleys              3
Skill                0
Dribbling            0
Curve                3
FK Accuracy          0
Long Passing         0
Ball Control         0
Movement             0
Acceleration         0
Sprint Speed         0
Agility              3
Reactions            0
Balance              3
Power                0
Shot Power           0
Jumping              3
Stamina              0
Strength             0
Long Shots           0
Mentality            0
Aggression           0
Interceptions        0
Positioning          0
Vision               3
Penalties            0
Composure           50
Defending            0
Marking              0
Standing Tackle      0
Sliding Tackle       3
Goalkeeping          0
GK Diving            0
GK Handling          0
GK Kicking           0
GK Positioning       0
GK Reflexes          0
Total Stats          0
Base Stats           0
W/F                  0
SM                   0
IR                   0
PAC                  0
SHO                  0
PAS                  0
DRI                  0
DEF                  0
PHY                  0
OVA                  0
dtype: int64

In [16]:
data4=data3.dropna(axis=0)

In [22]:
#Dealing with headers

cols = []
for column in data4.columns:
    cols.append(column.lower())
data4.columns = cols

cols = []
for column in data4.columns:
    cols.append(column.replace(' ','_'))
data4.columns = cols

In [21]:
# we converted some data into number to have more insights

data4['ir']= data4['ir'].str.replace('★','')
data4['sm']= data4['sm'].str.replace('★','')
data4['w/f']= data4['w/f'].str.replace('★','')


data4[["ir", "sm", 'w/f']] = data4[["ir", "sm", 'w/f']].apply(pd.to_numeric)

C:\Users\ADMINI~1\AppData\Local\Temp/ipykernel_1520/1981303837.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data4['ir']= data4['ir'].str.replace('★','')
C:\Users\ADMINI~1\AppData\Local\Temp/ipykernel_1520/1981303837.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data4['sm']= data4['sm'].str.replace('★','')
C:\Users\ADMINI~1\AppData\Local\Temp/ipykernel_1520/1981303837.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data4['w/f']= data4['w/f'].str.replace('★','')
C:\Users\Administrator\anaconda3\lib\site-packages\pandas\core\frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [24]:
#Create the numerical variable

data4_nu = data4.select_dtypes(include=['int', 'float'])

data4_nu

,id,age,attacking,crossing,finishing,heading_accuracy,short_passing,volleys,skill,dribbling,...,w/f,sm,ir,pac,sho,pas,dri,def,phy,ova
0,219461,23,230,47,21,62,60,40.0,228,44,...,2,2,1,64,30,50,50,66,74,67
1,221896,22,298,62,60,44,62,70.0,330,76,...,4,3,1,74,67,62,74,24,57,68
2,247428,19,48,7,5,11,21,4.0,52,6,...,2,1,1,56,52,53,55,26,53,54
3,255120,16,215,38,31,55,59,32.0,224,51,...,3,2,1,58,34,47,52,53,59,55
4,215556,24,295,57,59,45,78,56.0,327,71,...,4,2,1,67,62,68,70,69,71,70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1994,239074,21,197,59,23,42,51,22.0,207,51,...,3,2,1,76,28,46,55,53,57,60
1995,241223,21,77,13,9,14,34,7.0,70,9,...,2,1,1,60,55,57,62,30,54,59
1996,210930,27,332,76,72,34,79,71.0,373,77,...,4,4,2,65,69,78,77,39,60,76
1997,162993,34,268,58,44,61,62,43.0,261,56,...,3,2,1,53,47,58,58,61,69,63
1998,254882,18,276,49,54,51,70,52.0,300,60,...,3,2,1,64,54,62,62,50,47,60

In [25]:
# Convert vale, wage and release clause into numbers. 

data4['value'] = data4['value'].replace({'€': '', ' ': '', 'M': 'e+06', 'K': 'e+03'}, regex=True).astype(float).astype(int)
data4['wage'] = data4['wage'].replace({'€': '', ' ': '', 'M': 'e+06', 'K': 'e+03'}, regex=True).astype(float).astype(int)
data4['release_clause'] = data4['release_clause'].replace({'€': '', ' ': '', 'M': 'e+06', 'K': 'e+03'}, regex=True).astype(float).astype(int)

C:\Users\ADMINI~1\AppData\Local\Temp/ipykernel_1520/3457372728.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data4['value'] = data4['value'].replace({'€': '', ' ': '', 'M': 'e+06', 'K': 'e+03'}, regex=True).astype(float).astype(int)
C:\Users\ADMINI~1\AppData\Local\Temp/ipykernel_1520/3457372728.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data4['wage'] = data4['wage'].replace({'€': '', ' ': '', 'M': 'e+06', 'K': 'e+03'}, regex=True).astype(float).astype(int)
C:\Users\ADMINI~1\AppData\Local\Temp/ipykernel_1520/3457372728.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data4['release_clause'] = data4['release_clause'].replace({'€': '', ' ': '', 'M': 'e+06', 'K': 'e+03'}, regex=True).astype(float).astype(int)

In [26]:
data4.dtypes

id                    int64
name                 object
age                   int64
bp                   object
value                 int32
wage                  int32
release_clause        int32
attacking             int64
crossing              int64
finishing             int64
heading_accuracy      int64
short_passing         int64
volleys             float64
skill                 int64
dribbling             int64
curve               float64
fk_accuracy           int64
long_passing          int64
ball_control          int64
movement              int64
acceleration          int64
sprint_speed          int64
agility             float64
reactions             int64
balance             float64
power                 int64
shot_power            int64
jumping             float64
stamina               int64
strength              int64
long_shots            int64
mentality             int64
aggression            int64
interceptions       float64
positioning         float64
vision              float64
penalties             int64
composure           float64
defending             int64
marking               int64
standing_tackle       int64
sliding_tackle      float64
goalkeeping           int64
gk_diving             int64
gk_handling           int64
gk_kicking            int64
gk_positioning        int64
gk_reflexes           int64
total_stats           int64
base_stats            int64
w/f                   int64
sm                    int64
ir                    int64
pac                   int64
sho                   int64
pas                   int64
dri                   int64
def                   int64
phy                   int64
ova                   int64
dtype: object

In [29]:
# Saving categorical data for filtering purposes if it's need it

data4_cat = data4.select_dtypes(include=['object'])
data4_cat.columns

Index(['name', 'bp'], dtype='object')

In [30]:
# Setting up X and Y

import numpy as np
from sklearn import linear_model
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_absolute_error, r2_score
from sklearn.metrics import r2_score

y = data4_nu['ova']
X = data4_nu.drop(['ova'], axis=1)
X_num = X.select_dtypes(include = np.number)
X_cat = data4_cat

In [31]:
# Normalization.

transformer = MinMaxScaler().fit(X_num)
x_normalized = transformer.transform(X_num)
x_normalized = pd.DataFrame(x_normalized, columns=X_num.columns)

In [32]:
# Splitting into train set and test set.

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [33]:
# Apply model.

lm = linear_model.LinearRegression()
lm.fit(X_train,y_train)

LinearRegression()

In [35]:
## Model Validation

predictions_test2 = lm.predict(X_test)


#R2
r2 = r2_score(y_test, predictions_test2)

print('R2 is',r2)

#MSE
mse=mean_squared_error(y_test,predictions_test2)
print('MSE is',mse)

#RMSE
rmse = np.sqrt(mean_squared_error(y_test,predictions_test2))
print('RMSE is',rmse)

#MAE
mae = mean_absolute_error(y_test, predictions_test2)
print('MAE is',mae)

R2 is 0.9109855442119598
MSE is 4.216727136067443
RMSE is 2.053467101286856
MAE is 1.6573173042338034